<h4>JQuery with angular</h4>

<button id="buttonjq">Show text</button>

<br><br>
<p id="textjq" class="alert alert-warning">
    This is a simple hero unit, a simple jumbotron-style component for callig extra attention to featured content or information
</p>

<div id="box" style="width: 50px; height: 150px; border: 1px solid black;">
    al fdjaklsdfj asldfjasdlfjasdlfjasldfjlsadjflasdjflsajfdlasjdflkajdlfkjasdlfjalsdfjalsdfjlasjdflasdjflasdjflasjdlfjasdlfjalsdjflasdjflasjflsadjflasjflasjfljasdldfasfa af afd adfa fa kfdj asd ldfjlaksj fjasdf dlj asdlf jasslfjaslfj aslsfjass
</div>



<h1>TinyMCE 5 Angular Demo</h1>
<editor apiKey="your-api-key" [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>