<div [@fadeInIn] class="col-md-12">
    <h4>{{title}}</h4>
    <table class="table table-hover">
        <thead class="default">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Year</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals">
                <td>
                    <img src="{{url + 'animals/imageFile/' + animal.image}}" width="150px" *ngIf="animal.image && animal.image != ''" />
                </td>
                <td>{{animal.name}}</td>
                <td>{{animal.year}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" [routerLink]="['/animals/', animal._id]" routerLinkActive="router-link-active">
                        <span class="fas fa-list" title="View"> </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>